<div class="container mt-4">
    <h3 class="text-center">Class 12th Fee Structure</h3>
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Sr.</th>
                <th>Particulars</th>
                <th>Amount (INR)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tuition</td>
                <td>{{ class12Fees.tuition }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lab</td>
                <td>{{ class12Fees.lab }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sports</td>
                <td>{{ class12Fees.sports }}</td>
            </tr>
        </tbody>
    </table>
</div>
